@using TabletShop
<table>
	<tr>
		<td>
			@Html.Label(@ApplicationResource.txtID)
		</td>
		<td>
			@Html.Label(@ApplicationResource.txtModel)
		</td>
		<td>
			@Html.Label(@ApplicationResource.txtPrice)
		</td>
	</tr>
	@foreach (var item in Model.Key) {
		<tr>
			<td>
				@item.TabletId
			</td>
			<td>
				@item.Model
			</td>
			<td>
				@item.Price @ApplicationResource.signDollar
			</td>
			<td>
				@Ajax.ActionLink("Details","TabletDetailsPartial",new {id = item.TabletId},new AjaxOptions{UpdateTargetId = "content",InsertionMode = InsertionMode.Replace,HttpMethod = "Get"})
			</td>
		</tr>
	}
</table>
<br/>
	@if(ViewBag.PrevPage != -1)
	{
		@Ajax.ActionLink("<<","Grid",new {pageIndex = @ViewBag.PrevPage},new AjaxOptions{UpdateTargetId = "content",InsertionMode = InsertionMode.Replace,HttpMethod = "Get"})
	}
	
	@ViewBag.CurrPage

	@if(ViewBag.NextPage != -1)
	{
		@Ajax.ActionLink(">.","Grid",new {pageIndex = @ViewBag.NextPage},new AjaxOptions{UpdateTargetId = "content",InsertionMode = InsertionMode.Replace,HttpMethod = "Get"})
	}
