@using System.Text
@using TabletShop
@using TabletShop.Helpers;
@model TabletShopService.Tablet

<h2>@Model.Model</h2>

<p>
    <img alt="@Model.Model" src="@string.Format(Constants.WCF_SERVICE_URL + ApplicationResource.txtGetImage, Model.Photo)" />
</p>

<div id="tablet-details">
    <p>
        <em>@ApplicationResource.lblDescription</em>
        @Model.Description
    </p>
    <p>
        <em>@ApplicationResource.lblPrice</em>
        @String.Format("{0:F}", Model.Price)
    </p>
    <p>
        @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart",new {id = Model.TabletId },"")
    </p>
</div>
