<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title -Tablet Shop</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			@Html.ActionLink("Developed by Maksym Mokrousov", "Index", "Home", null, new {@class ="navbar-brand" })
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
				<li>@Html.ActionLink("About", "About", "Home")</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				@Html.Partial("_LoginPartial")
			</ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year -Maksym Mokrousov Application</p>
                </div>
            </div>
        </footer>
		
		@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>
		<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
		<script src="~/Scripts/bootstrap.min.js"></script>
		<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
		<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
		<link href="~/Content/themes/base/table.css" rel="stylesheet" />
    </body>
</html>
