@using TabletShop
@model TabletShop.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<h3>
    <em>@ApplicationResource.txtReview</em> @ApplicationResource.lblYourCart
</h3>
<p class="button">
	@(User.Identity.IsAuthenticated 
		  ? Ajax.ActionLink("Checkout >>", "AddressAndPaymentetailsPartial", "Checkout", new AjaxOptions { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" })
		  : Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout"))
</p>
<div id="content">
<div id="update-message">
</div>
	<table>
		<thead>
			<tr>
				<td colspan="5">Your Cart</td>
			</tr>
			<tr>
				<th>
					@ApplicationResource.txtTablet
				</th>
				<th>
					@ApplicationResource.txtPrice
				</th>
				<th>
					@ApplicationResource.txtQuantity
				</th>
				<th colspan="2">
				</th>
			</tr>
		</thead>
		@foreach (var item in Model.CartItems)
		{
			<tr id="row-@item.RecordId">
				<td>
					@item.Tablet.Model
				</td>
				<td>
					@item.Tablet.Price
				</td>
				<td id="item-count-@item.RecordId">
					@item.Count
				</td>
				<td>
					<a href="#" class="RemoveLink button" data-id="@item.RecordId">@ApplicationResource.txtRemoveFromCard</a>
				</td>
				<td>
					@Html.ActionLink("Details", "TabletDetails", "Home", new { id = item.TabletId }, new{@class="button"})
				</td>
			</tr>
		}
		<br />
		<tr>
			<td>
				@ApplicationResource.txtTotal
			</td>
			<td id="cart-total" val="@Model.CartTotal" colspan="4">
				@Model.CartTotal $
			</td>
		</tr>
	</table>
</div>
<script src="~/Scripts/Shop/ShoppingCart.js"></script>
